<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    <title>Senate Party Loyalty</title>
  </head>
  
  <body>
  
  
  <!-- logo y mail -->
    <div class="row">
      <div class="col-sm-6">
        <img src="LOGOTGIF.jpg" class="img-circle" alt="TGIF LOGO" height="100px" width=" 300px"> </div>
      <div class="col-sm-6" class="text-right">
        <div class="text-right" class="d-flex flex-row-reverse" class="p-2"></div> <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@tgif.net">info@tgif.net</a>
      </div>
    </div>
  
    <!-- Navegacion-->
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home.html">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="senate-data.html">Senate</a></li>
              <li><a href="house-data.html">House</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="senate_attendance.html">Senate</a></li>
              <li><a href="house_attendance.html">House</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="senate_party_loyalty.html">Senate</a></li>
              <li><a href="house_party_loyalty.html">House</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  
        <!--Table container-->
        <section class="container" id="app"> 

        <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
          
            <h2>Party Loyalty</h2>
           
              <p class="text-justify"> Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively,
              tend to be the most faithful in voting for their party's nominee for office and legislation that backs their
               party's agenda. </p>

            
          </div>
         
         
          <div class="col-lg-6 col-md-6 col-sm-6 col-6"> 
                    
            <h2>Senate at a glance</h2>
           <!-- DE LA TAREA 2
             <table class="table table-bordered table-striped" id="senateAtAGlance" >
                    </table>
          -->
            <table class="table tableBorder">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center align-top">Party</th>
                  <th class="text-center align-top">Number of Reps</th>
                  <th class="text-center align-top">% Voted with Party</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Democrat</td>
                  <td class="text-center" id="totD">{{ estadTotal.totD}}</td>
                  <td class="text-center" id="totPorcD">{{ estadTotal.totPorcD}}</td>
                </tr>
                <tr>
                  <td>Republican</td>
                  <td class="text-center" id="totR">{{ estadTotal.totR}}</td>
                  <td class="text-center" id="totPorcR">{{ estadTotal.totPorcR}}</td>
                </tr>
                <tr>
                  <td>Independent</td>
                  <td class="text-center" id="totI">{{estadTotal.totI}}</td>
                  <td class="text-center" id="totPorcI">{{ estadTotal.totPorcI}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="text-center" id="totales">{{ estadTotal.totales}}</td>
                  <td class="text-center" id="totatesPorc">{{ estadTotal.totalPorc}}</td>
                </tr>
              </tbody>
            </table>

              
           </div>
  </div>

<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6 col-6"> 
                    
      <h2>Least Loyal (Bottom 10% of Party)</h2>
      <!-- DE LA TAREA 2 
      <table class="table table-bordered table-striped" id="leastLoyal" ></table>
      -->
      <table class="table tableBorder" id="jsonData">
        <thead class="thead-dark">
          <tr>
            <th>Full Name</th>
            <th>Number of Party Votes</th>
            <th>% of Party Votes</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="person in estadTotal.least_loyal">
            <td class="link"><a v-bind:href="person.url" target="_blank">{{person.first_name}} {{person.middle_name}}
                {{person.last_name}}</a></td>
            <td class="text-center">{{person.total_votes}}</td>
            <td class="text-center">{{person.votes_with_party_pct}}</td>
          </tr>
        </tbody>
      </table>
    

   </div>


   <div class="col-lg-6 col-md-6 col-sm-6 col-6"> 
                    
      <h2>Most Loyal (Top 10% of Party)</h2>
      <!-- DE LA TAREA 2
         <table class="table table-bordered table-striped" id="mostLoyal" >  
          </table>
        -->

        <table class="table tableBorder" id="jsonData">
          <thead class="thead-dark">
            <tr>
              <th>Full Name</th>
              <th>Number of Party Votes</th>
              <th>% of Party Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="person in estadTotal.most_loyal">
              <td class="link"><a v-bind:href="person.url" target="_blank">{{person.first_name}} {{person.middle_name}}
                  {{person.last_name}}</a></td>
              <td class="text-center">{{person.total_votes}}</td>
              <td class="text-center">{{person.votes_with_party_pct}}</td>
            </tr>
          </tbody>
        </table>

    </table>

    </div>


</div>

</section>



      
      <!-- Footer -->
      <footer class="page-footer">
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2016 TGIF | All Rigths Reserved</div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->
    
    
      <!-- JavaScript -->
      <!--<script src="pro-congress-113-senate.js"></script>-->


     <!-- ESTO APLICABA A LA TAREA 2
        
        <script>

       <script src="senate_statistics.js"></script>

      dibujarTabla_MostLoyal.innerHTML = tablaMostLoyal;
       dibujarTabla_LeastLoyal.innerHTML = tablaLeastLoyal;
        </script>
      -->

      <!--esto es vue-->
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

      <script>
        //puesto aca para que no rompa luego en el js  
          var opc = "senate"
      </script>
       

   <!-- ESTE ERA EL JS PARA LA TAREA 3 <script src="senate_statistics.js"></script>-->
   <script src="main.js"></script>
    </body>
    
    </html>